.dark {
    background: #323030;
}

.dark-text {
    color: aliceblue;
}

.red {
    background: #975353;
}

.red-text {
    color: aqua;
}

.green {
    background: #5e895e;
}

.green-text {
    color: darkslateblue;
}

.blue {
    background: #10a4de;
}

.blue-text {
    color: #e2ac0d;
}
.yellow {
    background: #eeeeaa;
}

.yellow-text {
    color: #4b34e8;
}