.nav {
    display: flex;
    justify-content: left;
    transform: translate(-470px);
    transition-duration: 1000ms;
}

.nav:hover {
    transform: translate(0px);
    transition-duration: 1000ms;
}

.nav a {
    padding: 20px;
    color: #f6d8c8;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
}

.nav a:hover {
    color: #ee986b;
    font-size: larger;
}

.nav .activeLink {
    color: #f56214;
    font-size: larger;
}

.toggle:after {
    font-size: 2.3em;
    content: '\00BB';
    color: #f56214;
    text-decoration: none;
}




